{% load socialaccount %}
{% providers_media_js %}

<div class="flex flex-col w-full">
    <!-- receiving from django-allauth -->    
    <a href="{% provider_login_url "naver" %}" class="w-full border font-medium text-white mb-2 border-green-500 text-center rounded-sm py-5 bg-green-500">
        <i class="xi-naver-square xi-x mr-1"></i> 네이버로 계속하기
    </a> 

    <!-- receiving from users/urls.py -->    
    <a href="{% url 'accounts:kakao-login' %}" class="w-full border font-medium text-yellow-800 mb-2 border-yellow-400 text-center rounded-sm py-5 bg-yellow-400">
        <i class="xi-kakaotalk xi-x mr-1"></i> 카카오로 계속하기
    </a>     
    
  	<!-- receiving from django-allauth -->    
    <a href="{% provider_login_url "google" %}" class="w-full border font-medium text-white mb-2 border-red-500 text-center rounded-sm py-5 bg-red-500">
        <i class="fab fa-google mr-2"></i> 구글로 계속하기
    </a>
    
</div>